/* Navbar styles */
.navbar {
    background: linear-gradient(to top, white, gray) !important;
    color: white;
    transition: background 0.3s;
}

    .navbar:hover {
        background: linear-gradient(to top, gray, white) !important;
        transition: background 0.3s;
    }
/* Style the navbar links as buttons when hovered */
.navbar-nav .nav-link {
    color: black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
/*    margin-right: 10px;
    padding: 10px 15px;*/
border-radius:5px;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90 !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, gray, white) !important;
}
.navbar-nav .nav-link:hover {
    background: linear-gradient(to top, white, gray) !important;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* Beautify the navbar-brand */
.navbar-brand {
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to top, gray, silver) !important;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family:fantasy;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-brand:hover {
    background: linear-gradient(to right, lightGray, silver) !important;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
    .navbar-brand img {
        width: 50px;
        height: 40px;
        margin-right: 10px;
    }

/* Style the search bar with a border */
.navbar-nav input[type="text"] {
    float: right;
    padding: 6px;
    border: 1px solid #2980b9; /* Add a border with the desired color */
    border-radius: 5px; /* Add rounded corners for aesthetics */
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Style the dropdown menu */
.dropdown-menu {
    background: linear-gradient(to top, white, gray) !important;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the dropdown items */
.dropdown-item {
    color: #fff;
    transition: background 0.3s;
}

    /* Style the dropdown items' hover effect */
    .dropdown-item:hover {
        background: linear-gradient(90deg, gray, silver);
        transition: background 0.3s;
    }

.footer {
    height: 50px;
    font-size: 14px;
}
