body {
    background: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
}

.filter-section {
    align-items: flex-end;
    background: linear-gradient(to top, white, gray);
    border-radius: 15px;
    padding: 20px;
    width: 100px; /* Decrease the width to your desired value */
}

.product {
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.productImage {
    width: 200px;
    height: 500px;
    object-fit:cover;
    border-radius: 5px;
}
.homePageImage {
    width: 100% !important;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .filter-section {
        flex-direction: column;
    }

    .product {
        width: 100%;
    }

    .productImage {
        width: 100%;
        height: auto;
    }
}

/* Center the "Featured Products" heading horizontally and add dotted lines */
.FeaturedProductsHeading {
    text-align: center;
    position: relative;
    font-size: 24px;
}

       .FeaturedProductsHeading::before,
        .FeaturedProductsHeading::after {
            content: "";
            border-top: 1px dotted black;
            width: 40%; /* Adjust the width as needed */
            position: absolute;
            top: 50%;
        }
    .FeaturedProductsHeading::before {
        left: 0;
    }

    .FeaturedProductsHeading::after {
        right: 0;
    }

.modal-content {
    background: linear-gradient(to left, white, gray);
}
#quantityInput, #colorSelect {
    background-color: silver; /* Replace with your desired background color */
    border-color:black;
}
#quantityInput:hover,#colorSelect:hover{
    background-color:white;
}
.text-center {
    text-align: center;
}
