body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    max-width: 300px;
    margin: auto;
    padding-right: 40px;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: white;
    background-color: #292f3f;
}

#errorContainer {
    margin-bottom: 10px;
    color: #ff0000;
    text-align: center;
}

form {
    margin-top: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    color: #666666;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 0 10px; /* Removed comma in margin value */
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
}

select {
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }
