/* Reset default styles */
body, ul, li {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: navy;
    border-right: 1px solid #ddd;
    transition: width 0.3s ease-in-out; /* Add transition */
}

.navbar-title {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: navy;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2; /* Change the background color */
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px #999; /* Add box shadow */
}

.navbar:hover {
    width: 250px; /* Increase width on hover */
    background-color: navy; /* Change the background color on hover */
}

.navbar.white .navbar-title {
    color: navy;
}

.navbar ul {
    list-style: none;
    padding: 20px;
}


.navbar:hover .main-item a {
    color: white; /* Change font color on hover */
}

.navbar.white .main-item a {
    color: navy;
}


/* Subitems styles */
.subitems {
    margin-top: -20px;
    list-style: none;
    padding-left: 20px;
    display: none;
    transition: display 0.3s ease-in-out; /* Add transition */
}

.main-item:hover .subitems {
    display: block; /* Show subitems on main item hover */
}

/* Additional Styles */
.main-item a {
    color: white;
}

    .main-item a:hover {
        color: navy;
    }

.collapse-btn {
    color: #999;
}

    .collapse-btn:hover {
        color: navy;
    }

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .navbar {
        width: auto; /* Make navbar full width */
        height: auto; /* Allow height to adjust */
    }

    .navbar-title {
        border-right: none; /* Remove right border */
        box-shadow: none; /* Remove box shadow */
    }

    .navbar:hover {
        width: 100%; /* Keep navbar full width on hover */
    }

    /* Additional Responsive Styles */
    .navbar ul {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .main-item {
        margin-bottom: 10px; /* Add margin between main items for smaller screens */
    }

    .subitems {
        padding-left: 10px; /* Adjust padding for smaller screens */
        display: block !important; /* Show subitems on small screens */
        margin-top: 0; /* Reset margin-top */
    }

    .collapse-btn {
        display: inline-block; /* Display the collapse button on smaller screens */
    }
}
