/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #292f3f;
    color: #fff;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-title {
    font-size: 24px;
    margin: 20px 0;
    color: #fff;
    border-block: double;
}

.navbar-items {
    list-style: none;
    padding: 0;
    margin-bottom: auto;
}

.main-item {
    position: relative;
}

.collapse-btn {
    font-size: 12px;
    color: #ccc;
    position: relative;
    left: 100%; /* Position the buttons on the left side */
    top: -30px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .collapse-btn:hover {
        color: #fff;
    }

.main-item a {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this property to align items and buttons */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

    .main-item a:hover {
        background-color: #364150;
    }

.subitems {
    list-style: none;
    padding: 0;
    margin-top: -10px;
    display: none;
}

.main-item:hover .subitems {
    display: block;
}

.subitems li a {
    display: block;
    color: #ccc;
    padding: 8px 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    .subitems li a:hover {
        color: #fff;
    }

/* Additional Styles */
.footer {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .navbar {
        width: auto;
        height: auto;
        box-shadow: none;
    }

    .navbar-title {
        margin: 20px;
    }

    .navbar ul {
        padding: 0;
    }

    .main-item a {
        padding: 10px;
    }

    .subitems {
        margin-top: 0;
    }

    .collapse-btn {
        color: #ccc;
        background-color: #673ab7;
    }

        .collapse-btn.collapsed {
            transform: rotate(-90deg);
        }

    .main-item:hover .collapse-btn.collapsed {
        transform: rotate(0);
    }

    .collapse-btn.collapsed ~ .subitems {
        display: none;
    }

    .collapse-btn:not(.collapsed) ~ .subitems {
        display: block;
    }
}
