.btn.btn-primary {
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: var(--button-primary-color);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn.btn-primary i {
        margin-right: 0px;
    }

    .btn.btn-primary:hover {
        background-color: green;
    }


:root {
    --background-color: #292f3f; /* Define the primary color */
    --button-primary-color: #292f3f; /* Define a secondary color */
    --accent-color: #ff6f00; /* Define an accent color */
}

/* Example usage */
body {
    background-color: var(--primary-color);
}

.button {
    background-color: var(--button-primary-color);
    color: var(--background-color);
}

.header {
    color: var(--accent-color);
}

