<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Naviagtion.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        <h1 class="navbar-title">Moon Cloth House</h1>
        <ul>
            <li class="main-item">
                <a href="@Url.Action("SalesDashboard", "Home")">Sales Dashboard</a>

            </li>
            <li class="main-item">
                <a href="#">About</a>
                <button class="collapse-btn">&#9660;</button>
                <ul class="subitems">
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Values</a></li>
                </ul>
            </li>
            <li class="main-item">
                <a href="#">Services</a>
                <button class="collapse-btn">&#9660;</button>
                <ul class="subitems">
                    <li><a href="#">Service 1</a></li>
                    <li><a href="#">Service 2</a></li>
                    <li><a href="#">Service 3</a></li>
                </ul>
            </li>
            <li class="main-item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>


    <div class="container">
        @RenderBody() <!-- This will render the content of the view using the layout -->
    </div>

@*    <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>*@

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/Navigation.js"></script>
</body>
</html>
