<head>
    <link rel="stylesheet" href="~/css/Naviagtion.css">
    @*<style>
        .navigation ul ul {
            display: none;
        }

        .navigation ul li:hover > ul {
            display: block;
        }
    </style>*@
</head>
<body>
    <div class="navigation">
        <input type="checkbox" id="navigation-switch" class="navigation-switch">
        <label for="navigation-switch" class="toggle-btn"></label>
        <ul>
            <li><a href="#">Purchases</a></li>
            <li>
                <a href="#" class="dropdown-button">Sales</a>
                <ul>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Sales Analytics</a></li>
                    <li><a href="#">Deals and Promotions</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-button">Reports</a>
                <ul>
                    <li><a href="#">Financial Reposts</a></li>
                    <li><a href="#">Sales Reports</a></li>
                    <li><a href="#">Inventory Reports</a></li>
                    <li><a href="#">Customer Reports</a></li>
                </ul>
            </li>
            <li><a href="#">Manage Inventory</a></li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>$(document).ready(function () {
            $('.navigation ul li').click(function (e) {
                e.stopPropagation();
                $(this).children('ul').slideToggle();
            });
        });</script>
</body>
