<head>
    <link rel="stylesheet" href="~/css/Naviagtion.css">
</head>
<body>
    <div class="navigation">
        <input type="checkbox" id="navigation-switch" class="navigation-switch">
        <label for="navigation-switch" class="toggle-btn"></label>
        <ul>
            <li><a href="#">Purchases</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Manage Inventory</a></li>
        </ul>
    </div>

    <script src="/js/Navigation.js"></script>
</body>
