<head>
    <link rel="stylesheet" href="~/css/Naviagtion.css">
    @*<style>
        .navigation ul ul {
            display: none;
        }

        .navigation ul li:hover > ul {
            display: block;
        }
    </style>*@
</head>
<body>
    <div class="navbar">
        <h1 class="navbar-title">Moon Cloth House</h1>
        <ul>
            <li class="main-item">
                <a href="#">Home</a>
            </li>
            <li class="main-item">
                <a href="#">About</a>
                <button class="collapse-btn">&#9660;</button>
                <ul class="subitems">
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Values</a></li>
                </ul>
            </li>
            <li class="main-item">
                <a href="#">Services</a>
                <button class="collapse-btn">&#9660;</button>
                <ul class="subitems">
                    <li><a href="#">Service 1</a></li>
                    <li><a href="#">Service 2</a></li>
                    <li><a href="#">Service 3</a></li>
                </ul>
            </li>
            <li class="main-item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
        // Get all collapse buttons
        const collapseBtns = document.querySelectorAll('.collapse-btn');

        // Attach click event listeners to each collapse button
        collapseBtns.forEach((btn) => {
            btn.addEventListener('click', () => {
                const parentItem = btn.parentElement;
                const subitems = parentItem.querySelector('.subitems');
                subitems.classList.toggle('collapsed');
            });
        });




    </script>

</body>
