@{
    ViewData["Title"] = "Home Page";
}
@{
    Html.RenderPartial("~/Views/Shared/Navigation.cshtml");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="content-container">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</body>
</html>
