/* Navbar styles */
.navbar {
    background: linear-gradient(45deg, black 70%, lightgray 30%);
    color: white;
    transition: background 0.3s;
    position: relative; /* Ensure positioning context for pseudo-element */
}

    .navbar:hover {
    }

/* Style the navbar links */
.navbar-nav .nav-link {
    color: white;
    font-size: 16px;
    padding: 10px 20px; /* Adjust padding as needed */
}

    .navbar-nav .nav-link:hover {
        color: black;
        background-color: lightgray;
    }

    /* Add selected tab effect */
    .navbar-nav .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px; /* Adjust the height of the curve */
        background: lightgray; /* Adjust the color of the curve */
        border-radius: 10px 10px 0 0; /* Adjust the border-radius for the curve */
        z-index: -1; /* Ensure the curve is behind the navbar content */
    }
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 999; /* Ensure footer appears above content */
}

body {
    position: relative;
    padding-bottom: 80px; /* Adjust this value according to the height of your footer */
    margin-bottom: 60px; /* Margin to prevent overlap */
}

.brand-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
}
.navbar-brand{
    font-size:xx-large
}
.custom-navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .custom-navbar .nav-item {
        width: auto;
        height: 30px;
        font-size: 14px;
        padding: 0; /* Adjusted padding */
        margin: 0 5px; /* Added margin for spacing between buttons */
        display: flex; /* Add display flex for vertical alignment */
        align-items: center; /* Vertically center the content */
        background-color: transparent;
        border-width: 0px;
    }

.nav-item {
    color: black;
    margin-right: 10px
}

    .nav-item:hover {
        color: green
    }

.custom-navbar li {
    margin-right: 10px;
}

.custom-small-link {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

    .custom-small-link:hover {
        color: gray;
    }

/* Add this CSS to show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
