.filter-section {
    border-right: 2px solid #ccc;
    align-items:end;
    height: 100vh; /* Set the filters section to full screen height */
    overflow-y: auto; /* Add scrollbar if content exceeds the screen height */
}
body {
    background-color: lightgray;
}
.product {
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.productImage {
    width: 150px;
    height: 150px;
}
