.filter-section {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    height: 100vh; /* Set the filters section to full screen height */
    overflow-y: auto; /* Add scrollbar if content exceeds the screen height */
}

.product {
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.productImage {
    width: 150px;
    height: 150px;
}
