body{
    background-color:black;
    font-family:sans-serif;
}
.main-image {
    width: 70%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.image-details{
/*    border:solid 0.5px;*/
/*    border-radius:5px;*/
/*    border-color:black;*/

}
h2{
    text-align:center;
    align-content:center;
    justify-content:center;
}
#addToCartButton {
    margin-top: 50px;
    width: 100%; /* Set the width to 100% to make it wide */
    max-width: 180px; /* Optionally limit the maximum width */
    background-color: black; /* Green background color (Associated with freshness and positivity) */
    color: #ffffff; /* White text for better readability */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    /* Hover effect - darken the background color */
    &:hover

{
    background-color: green; /* Slightly darker green on hover */
}
}
#like-button {
    background-color: transparent;
    border: 2px solid #dc3545;
    color: #dc3545;
    border-radius: 0.25rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
/*    transition: background-color 0.3s ease, color 0.3s ease;*/
}

    #like-button:hover {
        background-color: #dc3545;
        color: white;
    }

    #like-button i {
        margin-right: 5px;
    }
#findInStore {
    background-color: lightgray; /* Blue color, you can change it */
    color: black; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0.25rem;
    margin-top: 10px; /* Adjust the margin as needed */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%; /* Set the width to 100% to make it wide */
    max-width: 240px; /* Optionally limit the maximum width */
}

    #findInStore:hover {
        background-color: #0056b3; /* Darker blue color on hover */
        color: #fff;
    }

@media (max-width: 768px) {
    /*.container {
        text-align: center;*/ /* Center-align text content */
/*        display: flex;*/
        /*justify-content: center;*/ /* Horizontally center content */
        /*align-items: center;*/ /* Vertically center content */
        /*min-height: 100vh;*/ /* Ensure the body covers the full viewport height */
        /*font-family: sans-serif;
    }*/
    #addToCartButton {
        width:75%;
        max-width:300px;
        height:auto;
        margin-top:0px;
    }
    #findInStore {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    .main-image {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .details{
        margin-top:-50px;
    }
    .image-details {
        text-align: center;
        display: flex;
        justify-content: center;  
        align-items: center;
        flex-direction:column;
    }
}
@media (max-width: 480px) {
    .container {
        text-align: center; /* Center-align text content */
/*        display: flex;*/
        justify-content: center; /* Horizontally center content */
        align-items: center; /* Vertically center content */
        min-height: 100vh; /* Ensure the body covers the full viewport height */
        font-family: sans-serif;
    }
    #addToCartButton {
        width: 30%;
        max-width: 120px;
        height: auto;
        margin-top:0px;
    }

    #findInStore {
        width: 30%;
        max-width: 120px;
        height: auto;
        margin-top: 0px;
    }
    .details {
        margin-top: 0px;
    }
}